*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Josefin Sans";
  text-decoration: none;
}

/*                home             */

.allNavlink {
  display: flex;
  border-radius: 2px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: baseline;
  background-color:black;
  box-shadow:1px 1px 20px -1px rgb(71, 75, 82) ;
  color: white;
  padding: 10px;
  

}



.allNavlink span{
color: white;
font-size:110%;
padding: 5px;
}

.home_paragraph{
  padding: 15px;
}

.allNavlink span:hover{
  border-left: 2px solid white;
  position:relative;
  padding: 5px;
  border-right: 2px solid white;  

}

.container_home{
align-items: center;
}

.container_home img{
  width: 100%;
  height:97vh;
}

.text_heading_home span{
color:rgba(25, 22, 224, 0.63);
}

.text_heading_home{
text-align: center;
}

.home_text_heading{
 padding: 10px;
}

.home_box_tech{
  padding: 10px;
text-align: center;
font-size: 20px;
background-color: rgba(0, 0, 0, 0.849);
color: white;
box-shadow:1px 1px 20px -1px rgb(71, 75, 82) ;
border-radius: 3px;
}


.home_box_pro{
 padding: 10px;
  text-align: center;
  font-size: 20px;
}

.home_btn{
/* border: 2px solid rgba(255, 0, 0, 0.062); */
 border-radius: 5px;
background-color: gold;
padding: 3px;
box-shadow:1px 1px 20px -1px rgb(71, 75, 82) ;

}

.home_box_blog{
  padding: 10px;
   text-align: center;
   background-color:rgb(0, 0, 0, 0.849);
   box-shadow:1px 1px 20px -1px rgb(71, 75, 82) ;
   color: white;
   font-size: 20px;
   border-radius: 3px;
 }



/*             project       */

.container_project{
  text-align: center;
}
.container_project img{
  width:99%;
  height:90vh;
 }

 .project_box_1{
padding: 10px;

 }

 .project_text_head{
   padding: 16px;
 }

 .project_color{
background-color:rgba(0, 0, 0, 0.849);
color: white;
box-shadow:1px 1px 20px -1px rgb(71, 75, 82) ;
padding: 10px;
border-radius: 3px;
 }

 .text_heading_project{
  padding: 5px;
 }

 .text_heading_project span{
  color:rgba(25, 22, 224, 0.63);
  }
/* blog */

.all_blog{
text-align: center;
/* font:menu; */
font-family: system-ui;
padding: 10px;
text-transform: capitalize;

}

.blog_text{
  padding: 10px;
background-color:rgb(0, 0, 0, 0.849);
border-radius: 3px;
color: white;
box-shadow:1px 1px 20px -1px rgb(71, 75, 82);
}

.all_Question{
font-size: 30px;
padding:14px;
}


/* footer */


 .footer_container{
  text-align: center;
  color: white;
  background-color:black;
  border-radius: 4px;
  border-top: 15px solid white;

 }


 .footer_navlink{
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding: 10px;
  background-color:black;

 }


 .footer_navlink span{
color: white;
 }

 /* midea Queary */

 @media (max-width:500px) {

  .container_home  img{
   height:50vh;

  }

  .container_project img{
    height:50vh;
  }
 }